* {
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
}
:root {
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: #202834;
  --navigation-item-hover-color: #637ea6;

  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  /* custom angka akhir dari 30% */
  --box-shadow: 0 5px 25px rgba(0, 0, 0, 0.363);

  /* --scroll-bar-color: #fff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b; */

  --scroll-bar-color: rgb(80, 80, 80);
  --scroll-thumb-color: #121212;
  --scroll-thumb-hover-color: #000000;
}

/* header by pandu */
header {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: calc(5rem + 1rem);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 1.5s ease;
  transition-property: height, background;
}

header.sticky {
  height: calc(2.5rem + 1rem);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header .nav-bar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  transition: 0.3s ease;
}
/* ubah di media queries menjadi ada */
.nav-close-btn {
  display: none;
}

.nav-menu-btn {
  display: none;
}

.nav-bar .logo img {
  height: 70px;
}

.nav-bar .navigation .nav-items .loginHeader {
  background-color: #1f1f1fe2;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 30px;
  border-radius: 5px;
}
.nav-bar .navigation .nav-items .loginHeader:hover {
  color: orangered;
}

.nav-bar .logo {
  color: var(--dark-color);
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

/* ubah di media queries menjadi putih */
.navigation .nav-items a {
  color: var(--dark-color);
  font-size: 1em;
  text-decoration: none;
  text-shadow: var(--text-shadow);
  cursor: pointer;
  transform: translateY(0);
  transition: 0.3s ease;
}
.navigation .nav-items .loginHeader uil uil-user {
  display: block;
}

.loginHeader img{
  width: 20px;
  height: auto;
  filter: invert(1);
  padding-bottom: 5px;
  margin-right: 10px;
}

.namaPengguna {
  color: white;
}

.navigation .nav-items a:hover {
  color: rgba(71, 203, 6, 0.898);
  /* tidak bisa */
  transform: translateX(2px);
  text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease; /* Tambahkan 's' setelah 0.3 */
}

.navigation .nav-items a i {
  display: none;
}

.navigation .nav-items a:not(:last-child) {
  margin-right: 25px;
}
/* CSS ATAS */

.atas {
  width: 100%;
  background-color: #fff;
  padding: 40px 100px;
  padding-top: 250px;
  padding-bottom: 130px;
}

.atas h1 {
  color: #fff;
  font-weight: 600;
  font-size: 100px;
  margin: 0;
  text-transform: uppercase;
  background-image: url(../IMG-Abi/pexels-quang-nguyen-vinh-2131623.jpg);
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}

/* CSS Bawah */
.bawah {
  background-color: white;
  width: 100%;
  height: 100vh;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 5);
  padding: 0px 60px;
  padding-top: 20px;
}

.bawah .isi {
  padding-left: 52px;
}

/* .bawah h4 {
    font-weight: 200;
    margin-top: 10px;
} */

.bawah h1 {
  font-weight: 500;
  color: rgb(23, 62, 104);
  height: 60px;
  line-height: 60px;
}

/* Input Form */
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #ebe8e8;
  margin: 20px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 0.9em;
  color: #18283539;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  line-height: 57px;
}

.button {
  width: 100%;
  height: 45px;
  background-color: rgb(23, 62, 104);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  transition: 0.5 ease;
}

.button:hover {
  background: #162938;
  transition: 0.5 ease;
}

@media screen and (max-width: 1100px) {
  .atas {
    padding: 0px 20px;
    padding-top: 250px;
    padding-bottom: 150px;
  }

  .atas h1 {
    font-size: 90px;
    padding: 0px 20px;
  }
}

@media screen and (max-width: 1045px) {
  .atas {
    padding: 0px 20px;
    padding-top: 230px;
    padding-bottom: 180px;
  }

  .atas h1 {
    font-size: 80px;
    padding: 0px 20px;
  }
}

@media screen and (max-width: 940px) {
  .atas {
    padding: 0px 20px;
    padding-top: 250px;
    padding-bottom: 100px;
  }

  .atas h1 {
    font-size: 80px;
    padding: 0px 20px;
  }
}

@media screen and (max-width: 850px) {
  .atas {
    padding: 0px 20px;
    padding-top: 250px;
    padding-bottom: 100px;
  }

  .atas h1 {
    font-size: 70px;
    padding: 0px 20px;
  }
}

@media screen and (max-width: 705px) {
  .atas {
    padding: 0px 20px;
    padding-top: 240px;
    padding-bottom: 130px;
  }

  .atas h1 {
    font-size: 70px;
    padding: 0px 0px;
  }
}

@media screen and (max-width: 590px) {
  .atas {
    padding: 0px 20px;
    padding-top: 250px;
    padding-bottom: 130px;
  }

  .atas h1 {
    font-size: 60px;
    padding: 0px 10px;
  }

  .bawah h1 {
    font-size: 30px;
  }

  .bawah .isi {
    padding-left: 0px;
  }
}

@media screen and (max-width: 1200px) {
  header .nav-bar {
    padding: 0 50px;
  }

  .section {
    color: var(--white-color);
    /* dimodif */
    background: var(black);
    padding: 25px 50px;
    transition: 0.3s ease;
  }

  .media-icons {
    right: 0;
    margin-right: 50px;
  }

  .swiper-slide.text-content {
    margin: 0 120px 0 50px;
  }

  .bg-slider-thumbs {
    bottom: 3em;
  }

  .nav-menu-btn {
    display: block;
    color: var(--dark-color);
  }

  .nav-close-btn {
    display: block;
    color: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3 ease;
  }

  .navigation {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
  }

  .navigation.active {
    transition: 0.3s ease;
    visibility: visible;
    opacity: 1;
  }

  .navigation .nav-items {
    position: relative;
    background: var(--white-color);
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: translateY(-200px);
    transition: 0.3s ease;
  }

  .loginHeader img{
    margin-left: 48px;
  }

  /* Jarak icon dan output nama pengguna */
  .namaPengguna{
  padding-left: 37px;
  } 
  

  .buatJarak{
    margin-left: 20px;
  }



  .navigation.active .nav-items {
    transform: translateY(0);
  }

  .navigation .nav-items a {
    color: var(--dark-color);
    font-size: 0.7em;
    margin: 20px 35px;
    transition: 0.3s ease;
  }

  .nav-bar .navigation .nav-items .loginHeader {
    padding-left: 0px;
  }

  .navigation .nav-items a:hover {
    color: var(--navigation-item-hover-color);
    transition: 0.3s ease;
  }

  .navigation .nav-items a i {
    display: inline-block;
    color: var(--dark-color);
    font-size: 1em;
    margin: 15px 50px;
    transition: 0.3s ease;
  }

  .swiper-slide .text-content .read-btn {
    font-size: 0.9em;
    padding: 5px 15px;
  }

  /* .navigation .nav-items a i{
        color: var(--dark-color);
    } */

  .navigation .nav-items {
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
  }
  .about {
    height: 100vh;
    background-color: black;
    padding-left: 30px;
    /* scroll-snap-align: start; */
  }

  .about .cont-about {
    margin-top: 30px;
    height: 300px;
    display: inline;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .about .cont-about .petaNatuna {
    background-color: #fff;
    height: auto;
    width: 370px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.614);
    margin-left: 30%;
    margin-top: 60px;
  }

  .about .deskAbout {
    margin-left: 30%;
    width: 370px;
    height: 70%;
    margin-top: 50px;
    text-align: justify;
  }

  .about .deskAbout span {
    font-weight: 500;
    font-size: 0.7em;
    width: 70%;
    margin-left: 0px;
    white-space: pre-wrap;
    letter-spacing: 0.3px;
    margin: 25px 0;
    height: 20vh;
  }

  .about h2 {
    margin-top: 20px;
    margin-left: 1px;
    font-size: 3.1em;

    font-weight: 600;
  }
}

@media screen and (max-width: 1100px) {
  header .nav-bar {
    padding: 0 50px;
  }

  .section {
    color: var(--white-color);
    /* dimodif */
    background: var(black);
    padding: 25px 50px;
    transition: 0.3s ease;
  }

  .media-icons {
    right: 0;
    margin-right: 50px;
  }

  .swiper-slide.text-content {
    margin: 0 120px 0 50px;
  }

  .bg-slider-thumbs {
    bottom: 3em;
  }

  .nav-menu-btn {
    display: block;
    color: var(--dark-color);
  }

  .nav-close-btn {
    display: block;
    color: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3 ease;
  }

  .navigation {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
  }

  .navigation.active {
    transition: 0.3s ease;
    visibility: visible;
    opacity: 1;
  }

  .navigation .nav-items {
    position: relative;
    background: var(--white-color);
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: translateY(-200px);
    transition: 0.3s ease;
  }

  .navigation.active .nav-items {
    transform: translateY(0);
  }

  .navigation .nav-items a {
    color: var(--dark-color);
    font-size: 0.7em;
    margin: 20px 35px;
    transition: 0.3s ease;
  }

  .nav-bar .navigation .nav-items .loginHeader {
    padding-left: 0px;
  }

  .navigation .nav-items a:hover {
    color: var(--navigation-item-hover-color);
    transition: 0.3s ease;
  }

  .navigation .nav-items a i {
    display: inline-block;
    color: var(--dark-color);
    font-size: 1em;
    margin: 15px 50px;
    transition: 0.3s ease;
  }

  .swiper-slide .text-content .read-btn {
    font-size: 0.9em;
    padding: 5px 15px;
  }

  /* .navigation .nav-items a i{
        color: var(--dark-color);
    } */

  .navigation .nav-items {
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
  }
}

/* ==== Media queries (max-width: 785px) ==== */
@media screen and (max-width: 785px) {
  header .nav-bar {
    padding: 25px 20px;
  }

  .section {
    padding: 25px 20px;
  }

  .media-icons {
    margin-right: 20px;
  }

  .media-icons a {
    font-size: 1.5em;
  }

  .swiper-slide .text-content {
    margin: 0 70px 0 20px;
  }

  .swiper-slide .text-content .title {
    font-size: 3em;
  }

  .swiper-slide .text-content .title span {
    font: 0.35em;
  }

  .swiper-slide .text-content p {
    font-size: 0.9em;
  }

  .nav-menu-btn {
    display: block;
    color: var(--dark-color);
  }

  .nav-close-btn {
    display: block;
    color: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3 ease;
  }

  .navigation {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    /* transition: 0.3s ease; */
  }

  .navigation.active {
    transition: 0.3s ease;
    visibility: visible;
    opacity: 1;
  }

  .navigation .nav-items {
    position: relative;
    background: var(--white-color);
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: translateY(-200px);
    transition: 0.3s ease;
  }

  .navigation.active .nav-items {
    transform: translateY(0);
  }

  .navigation .nav-items a {
    color: var(--dark-color);
    font-size: 0.7em;
    margin: 20px 35px;
    transition: 0.3s ease;
  }

  .navigation .nav-items a:hover {
    color: var(--navigation-item-hover-color);
    transition: 0.3s ease;
  }

  .navigation .nav-items a i {
    display: inline-block;
    color: var(--dark-color);
    font-size: 1em;
    margin: 15px 50px;
    transition: 0.3s ease;
  }

  .swiper-slide .text-content .read-btn {
    font-size: 0.9em;
    padding: 5px 15px;
  }

  /* .navigation .nav-items a i{
        color: var(--dark-color);
    } */

  .navigation .nav-items {
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
  }
}
