body{
    background-image: url('/gambar/bg2.jpg');
    background-size: cover;
    height: 2000px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Warna latar belakang semi-transparan */
    z-index: 1000;
}

.popup {
    font-size: 17px;
    width: 400px;
    height: 300px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 30px;
    backdrop-filter: blur(40px);
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.25);
    background-color: #ffffff73;
    z-index: 1001;
}

.popup-content {
    text-align: center;
}
.popup .gambar1{
    width: 50px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 10px;
}
.popup img{
    width: 20px;
}
.popup input, select{
    background-color: rgba(255, 255, 255, 0.55);
}
.popup .nomor, .sandi{
    border: none;
    border-radius: 5px;
    width: 280px;
    margin-top: 10px;
    padding: 4px;
}
.popup .jumlahorang{
    position: absolute;
    border: none;
    border-radius: 5px;
    left: 50px;
    bottom: 20px;
    padding: 2px 0px 2px 0px;
}
.popup .gambarjumlah{
    position: absolute;
    left: 15px;
    bottom: 12px;
}
.gambarjumlah img{
    width: 30px;
}
.popup .harga{
    position: absolute;
    right: 125px;
    bottom: 21px;
}
.popup .tombol{
    align-items: center;
    color: rgb(34, 34, 74);
    background-color: rgba(242, 242, 242, 0.571);
    font-size: 20px;
    position: absolute;
    box-shadow: 0px 0px 20px rgba(112, 112, 112, 0.25);
    right: 50px;
    bottom: 15px;
    border: none;
    border-radius: 3px;
    padding: 6px;
}
.tombol img{
    position: absolute;
    width: 40px;
    bottom: -3px;
    right: -37px;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}